@import url("https://fonts.googleapis.com/css2?family=Golos+Text&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #ECF8F8;
  --black: #080708;
  --blue: #c4ecf5;
  --pink: #f7c9d4;
  --yellow: #f3d8bf;

  --header-font: "Josefin Sans", sans-serif;
  --body-font: "Raleway", sans-serif;
}

body {
  background-color: var(--background-color);

}

main {
  font-family: var(--body-font);
  min-height: calc(108vh - 285px);
}

header {
  font-family: var(--header-font);
  text-align: center;
  background-color: var(--pink);
  margin: 0;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a{
  background-color: var(--blue);
  margin: 10px;
  text-decoration: none;
  padding: 5px;
  /* display: none; */
}

#links {
  display: flex;
  flex-direction: column;
}

.hamburger {
  display: inline-block;
  position: relative;
  display: flex;
  margin: 15px;
  justify-self: end;
  grid-column: 2/3;
  grid-row: 1;
}

.hamburger a.main-nav-toggle {
  display: block;
  width: 28px;
  height: 16px;
  right: 0;
  position: absolute;
  top: 0;
  padding: 4px;
}

.hamburger a.main-nav-toggle i {
  left: 0;
}

.hamburger a.main-nav-toggle:after,
.hamburger a.main-nav-toggle:before {
  content: "";
  position: absolute;
  top: 0;
  height: 0;
  border-bottom: 4px solid black;
  width: 100%;
  left: 0;
  right: 0;
  transition: all ease-out 0.3s;
}

.hamburger a.main-nav-toggle:after {
  top: 100%;
}

.main-nav-toggle-white:after,
.main-nav-toggle-white:before {
  border-color: white !important;
}

.hamburger a.main-nav-toggle-white i {
  background-color: white !important;
}

.hamburger a.main-nav-toggle i {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 4px;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 50%;
  transition: all ease-out 0.1s;
}

.hamburger a.main-nav-toggle.active-menu:after {
  transform: rotate(-45deg);
  transform-origin: center;
  top: 50%;
}

.hamburger a.main-nav-toggle.active-menu:before {
  transform: rotate(45deg);
  transform-origin: center;
  top: 50%;
}

.hamburger a.main-nav-toggle.active-menu i {
  opacity: 0;
}


